{% extends 'core/base.html' %}

{% block content %}

<h1 class="title">View application</h1>
<h2 class="subtitle">{{ application.job.title }}</h2>
<small>Date added: {{ application.created_ad }}</small>
<p><strong>Content: </strong>{{application.content}}</p>
<p><strong>Experience: </strong>{{application.experience}}</p>
<hr>
<h2 class="subtitle">Conversations</h2>
{% for message in application.conversationmessages.all %}
<div class="notification">
    <p>{{message.created_by.username}} - {{ message.created_at|timesince}} ago </p>
    {{message.content}}
</div>
{%empty %}
<p>no messages</p>
{% endfor %}
<hr>
<form method="post" action="">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <textarea name="content" id="id_content" cols="30" rows="10" class="textarea" placeholder="your message"></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-success">Send</button>
        </div>
    </div>
</form>

{% endblock %}