{% extends 'core/base.html' %}

{% block content %}

<h1 class="title">View job {{ job.title }}</h1>
<a href="{% url 'edit_job' job.id %}" class="button is-success mb-4">
    Edit
</a>
<p class="is-size-4">{{ job.short_description }}</p>

<small>Date added: {{ job.created_ad }}</small>

<p><strong>Experience: </strong>{{job.long_description}}</p>
<p>Company name: {{job.company_name}}</p>
<p>Company address: {{job.company_address}}</p>
<p>Company zipcode: {{job.company_zipcode}}</p>
<p>Company place: {{job.company_place}}</p>
<p>Company country: {{job.company_country}}</p>
<p>Company size: {{job.get_company_size_display}}</p>
{% for application in job.applications.all %}
<div class="application">
    <a href="{% url 'view_application' application.id %}">{{ application.created_by.username }}</a>
</div>
{% empty %}
<h4>No applications yet</h4>
{% endfor %}
{% endblock %}