{% extends 'core/base.html' %}

{% block content %}
<h1 class="title">{{ job.title }} - ({{job.get_status_display}}</h1>
<p class="is-size-4">{{ job.short_description }}</p>
<p>Company name: {{job.company_name}}</p>
<p>Company address: {{job.company_address}}</p>
<p>Company zipcode: {{job.company_zipcode}}</p>
<p>Company place: {{job.company_place}}</p>
<p>Company country: {{job.company_country}}</p>
<p>Company size: {{job.get_company_size_display}}</p>
<p>{{ job.long_description }}</p>
{% if job.status =='active' %}
<a class="button is-success" href="{% url 'apply_for_job' job.id %}">Apply for job</a>
{% else %}
<p>no more available</p>
{% endif %}
{% endblock %}
